<p>Here's a sample of our cool playlist:</p>

<h2>{{ featuredSong.title }}</h2>
<p>by {{ featuredSong.artist }}</p>

{{#if featuredSong.comment}}
  <h3>Curator's Comment</h3>
  <p>{{ featuredSong.comment }}</p>
{{else}}
  <p>No comment yet.</p>
{{/if}}

<img src="{{ featuredSong.photoUrl }}" />
<br />

<a href="/playlist">See the Full Playlist</a>
